.logos {
  position: absolute;
  top: 4px;
  /* left: 50%; */
  text-align: center;
  color: #c80003;
  background-color: #edfdfb;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: 5%;
  margin-right: 50%;
  font-size: 13px;
  /* padding-bottom: 50%; */
}

.ee {
  font-size: 45px;
  position: relative;
  top: 0px;
  font-family: 'Righteous',
    cursive;
}

.rect {
  width: 100%;
  height: 68px;
  background-color: #cf002d;

  box-shadow: 0px 0px 8px 5px #b6b4b4;
}

.account {
  top: 12px;
  position: absolute;
  right: 8px;
}

.login {
  top: 12px;
  position: absolute;
  right: 200px;
}

.sign {
  top: 12px;
  position: absolute;
  right: 170px;
}

.btn {
  color: #edfdfb;
}

h1 {
  display: inline;
}

#eat {
  color: white;
  font-family: 'Righteous',
    cursive;
  margin-left: 30px;
}
* {
  font-family: 'Raleway',
    sans-serif;
}